body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSl3WXEGz0VWxZC9FTA1vJ5EyG4JedTKbWL5uLCxUATb8YVuAjv");
    background-size: cover;
    background-repeat: repeat
}

p{
    font-size: 30px;
    border-bottom: 1px solid #708090;
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: bolder;
}
