body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSl3WXEGz0VWxZC9FTA1vJ5EyG4JedTKbWL5uLCxUATb8YVuAjv");
    background-size: cover;
    background-repeat: repeat
}

p{
    font-size: 30px;
    border-bottom: 1px solid #708090;
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: bolder;
}


h1{
    color: gold;
    font-size: 90px;
    font-family: 'Satisfy', cursive;
    text-decoration:none;
    font-weight: bolder;
}

h2{
    padding:20px;
    font-size: 50px;
    color: gold;
    font-family: 'Satisfy', cursive;
    font-weight: bolder;
}

.container-fluid{
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height:100vh;
  }