body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSl3WXEGz0VWxZC9FTA1vJ5EyG4JedTKbWL5uLCxUATb8YVuAjv");
    background-size: cover;
    background-repeat: repeat
}

p{
    font-size: 30px;
    border-bottom: 1px solid #708090;
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: bolder;
}


h1{
    color: gold;
    font-size: 90px;
    font-family: 'Satisfy', cursive;
    text-decoration:none;
    font-weight: bolder;
}

h2{
    padding:20px;
    font-size: 50px;
    color: gold;
    font-family: 'Satisfy', cursive;
    font-weight: bolder;
}

.container-fluid{
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height:100vh;
  }

  .overlay{
    background-color:#000000cf;
    opacity: 0.7;
    height:100vh;
  }

  #myform{
    align-self: center;
    padding-left:35%;
    height:100%;
    padding-bottom:5%;
  }

  .input{
    width: 60%;
  }

  .description{
    text-align: center;
    padding-top: 5%;
    font-family: verdana;
  }

  
  #birth{
    border-radius: 50px;
    color:wheat;
    font-family: verdana;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
    border:2px solid cyan;
    margin-top:2%;
  }

  #female{
      
    margin-top:5%;
  }

  #male{
    padding:40px;

  }
  #gender{
    color:white;
    font-size: 40px;
    padding:40px;
  }


  #submitButton{
    border-radius:20px;
    color:wheat;
    font-family: georgia;
    border:2px solid cyan;
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5%;
    text-transform: uppercase;
}


#decription{
    margin-top:3%;
  }
  #genders{
    margin-left: 20%;
    margin-top: 2%;
  }


  #display{
    margin-top:5%;
    margin-left:5%;
    background-color: white;
    color: black;
    width:40%;
    height: 10%;
    border-radius:10px;
    border:2px solid cyan;
  }



  #display p{
    margin-left: 3%;
    color: black;
    font-weight: bold;
  }



  #result{
    color:black;
  }

  #birth-date{
    color:wheat;
    padding-top:3%;
    margin-left: 5%;
    font-family: georgia;
  
  }

  .lincence p{
    font-size: 30px;
    color:gold;
    padding:70px;
    text-align: center;
   }
 
